<!DOCTYPE html>
<html>
<head>
  <title>Swagger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "swaggerui/application", media: "all" %>
  <%= javascript_include_tag "swaggerui/swagger-ui-bundle.js" %>
  <%= javascript_include_tag "swaggerui/swagger-ui-standalone-preset.js" %>

  <%= yield :head %>
</head>
<body>
  <%= yield %>
</body>
</html>
